.home {
    z-index: -1;
    position:absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1612232134966-a9b076b9fbe7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fGVnZyUyMHdhbGxwYXBlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
  }
  