
  
.card {
  width: 20%;
  background-color: #fff; 
  /* border: 1px solid #000; */
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
}
  
  .image-container {
    border: 2px solid black;
    height: 20vw;
    width: 20vw;
  }

  .card-img{
    max-width: 20vw;
    max-height: 20vw;
    object-fit: contain;

  }
  
  .card-title {
    font-size: 3vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 0;
    padding-top: 0;
    color: #000;
  }
  
  .card-text {
    color: black;
    font-size: 1vw;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;

  }
  .card {
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-width: 10px;
    
  }
  