

.meal-form{
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-image: url("https://images.unsplash.com/photo-1612232134966-a9b076b9fbe7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fGVnZyUyMHdhbGxwYXBlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;

}

.card-form {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 0auto 20px auto;
    margin-top: 20px;
    width: 50%;
    margin: 75px 265px 0px 265px;
    
  }
  


  .card-form h2 {
    margin-top: 0;
    color: var(--color);
      background-color: var(--background);
    
  }
  
  .card-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .card-form input,
  .card-form select {
    display: block;
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-bottom: 10px;
  }
  
  .card-form button {
    background-color: white;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }