.App {
    color: var(--color);
    background-color: var(--background);
    min-height: 100vh;
  }
  
  .App.light {
    --color: var(--black);
    --background: var(--white);
    --primary: var(--dark-turquoise);
    
    
  }
